---
layout: page
description: "「学会珍惜，懂得感恩，干干净净，简简单单」"
---


<!-- 点击的指引 -->
<p style="text-align: center; font-weight: bold; font-size: 26px;">
    <!-- 👉 <a href="https://yunmika.gitee.io" style="color: #ff0000; text-decoration: none; border-bottom: 3px solid #ff0000; padding-bottom: 4px;">国内站点请点击</a> 👈 -->
    <!-- <br> -->
    👉 <a style="color: #ff0000; text-decoration: none; border-bottom: 3px solid #ff0000; padding-bottom: 4px;">最新推送，请关注微信公众号：有趣儿的生信</a> 👈
    <div style="display: flex; justify-content: center; margin-top: 10px;">
        <img src="img/wx.png" width="100%" height="100%">
    </div>
</p>


{% for post in paginator.posts %}
    {% unless post.categories contains 'Life' %}
        <div class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h2 class="post-title">{{ post.title }}</h2>
                {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                {% endif %}
                <div class="post-content-preview">
                    {% if post.lang == 'en' %}
                        {{ post.content | strip_html | truncate:300 }}
                    {% else %}
                        {{ post.content | strip_html | truncate:200 }}
                    {% endif %}
                </div>
            </a>
            <p class="post-meta">
                Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
            </p>
        </div>
        <hr>
    {% endunless %}
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
